.blog {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccccccce;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.blog p {
    font-size: 21px;
    line-height: 1.8;
    margin-bottom: 20px;
}
